.jumbotron {
    background-color: black;
    color: white;
}
.nav {
    color: white;
}
.photo {
    align-items: center;
}
body {
    background-color: rgb(26, 26, 26);
}
.About-me {
    color:white;
}
